<html manifest="cache.appcache">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='cards.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='prototype.js') }}"></script>
</head>

<body>
	<div id="welcome">
		
	</div>


	<div id="hand">
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='4_of_hearts.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
        <div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='10_of_clubs.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
        <div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='2_of_diamonds.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='6_of_clubs.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='10_of_clubs.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='3_of_hearts.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='ace_of_spades.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='9_of_diamonds.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='2_of_diamonds.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
        <div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='3_of_hearts.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='6_of_clubs.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
    		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='ace_of_spades.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='4_of_hearts.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='7_of_spades.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='7_of_spades.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
		<div class="w" onclick="F(this)">
			<div class="c f">
				<img src="{{url_for('static', filename='9_of_diamonds.png')}}">
			</div>
			<div class="c b">
				<img src="{{url_for('static', filename='card_back.jpg')}}">
			</div>
		</div>
	</div>

	<div>
		
		<a style="cursor:hand;" id="save"class="blue">
    		Save
    <span>Play again later.</span>
</a>
<!-- 
<a href="#" class="button2 blue">
    Create Account
</a> -->
	</div>
	


</body>